:root {
  --topbar: #ffc;
  --bodycolor: #000;
  --buttoncolor: #000;
  --textcolor: #000;
  --cardcolor: #000;
  --bordercolor: #000;
  --imagecolor: #000;
}
#topbar {
  height: 50px;
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--topbar);
  box-shadow: -1px 0px 2px black;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body {
  background-color: var(--bodycolor);
  color: var(--textcolor);
}

#btn {
  height: 20px;
  margin: 15px;
  background-color: var(--buttoncolor);
= 
}
.center {
  margin: auto;
  text-align: center;
}

#container {
  width: 100vw;
  display: flex;
  position: relative;
  justify-content: space-around;
  top: 75px;
  flex-wrap: wrap;
}
 #container > div{
  height: 500px;
  width: 28%;
  border: 2px solid var(--bordercolor);
  background-color: var(--cardcolor);
  transition: all 0.3s;
  margin: 50px auto;

}

#container > div:hover{
  transform: scale(1.025);
}

#container img {
  height: 350px;
  max-width: 54%;
 
}
.flexlr {
  display: flex;
  flex-direction: row;
  width: 100%;
  

}


.flexlr > div {
  text-align: center;
  width: 100%;
  
}

.image {
  border: 1px solid var(--imagecolor) ;
}

#filter {
color: var(--textcolor);
position: relative;
top: 60px;
margin: auto auto;
text-align: center;
}

#checkbox{
  margin: auto;
}