:root {
  --topbar: #ffc;
  --bodycolor: #000;
  --buttoncolor: #000;
  --textcolor: #000;
}
#topbar {
  height: 50px;
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--topbar);
  box-shadow: -1px 0px 2px black;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body {
  background-color: var(--bodycolor);
  color: var(--textcolor);
}

#btn {
  height: 20px;
  margin: 15px;
  background-color: var(--buttoncolor);
}
.center {
  margin: auto;
}
