:root {
  --barcolor: #ffc;
  --bodycolor: #000;
}
#topbar {
  height: 50px;
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--barcolor);
  box-shadow: -1px 0px 2px black;
  text-align: center;
}

body {
  background-color: var(--bodycolor);
}
